<div fxLayout="row wrap" fxLayoutGap="16px" fxLayoutAlign="flex-start">
  <mat-form-field fxFlex="0 1 calc(40% - 16px)">
    <mat-label>Artist</mat-label>
    <mat-select [formControl]="artistFilter">
      <mat-option value="" selected></mat-option>
      <mat-option *ngFor="let artist of artists$ | async" [value]="artist.id">
        {{ artist.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field fxFlex="0 1 calc(40% - 16px)">
    <mat-label>Album</mat-label>
    <mat-select [formControl]="albumFilter">
      <mat-option value="" selected></mat-option>
      <mat-option *ngFor="let album of albums$ | async" [value]="album.id">
        {{ album.title }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field fxFlex="0 1 calc(20% - 16px)">
    <mat-label>Release Year</mat-label>
    <mat-select [formControl]="releaseYearFilter">
      <mat-option value="" selected></mat-option>
      <mat-option *ngFor="let year of releaseYear$ | async" [value]="year">
        {{ year }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<mat-spinner *ngIf="(tracksFiltered$ | async)?.length == undefined">
</mat-spinner>

<div
  fxLayout="row wrap"
  fxLayout.lt-sm="column"
  fxLayoutGap="32px"
  fxLayoutAlign="flex-start"
>
  <ng-container *ngFor="let track of tracksFiltered$ | async"
    ><mat-card
      [routerLink]="['/tracks', track.id]"
      fxFlex="0 1 calc(33.3% - 32px)"
      fxFlex.lt-md="0 1 calc(50% - 32px)"
      fxFlex.lt-sm="100%"
    >
      <mat-card-header>
        <mat-card-title>{{ track.title }}</mat-card-title>
        <mat-card-subtitle>{{ track.artist.name }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>{{ track.album.title }}</p>
      </mat-card-content>
    </mat-card>
  </ng-container>
</div>
